{% extends 'inner-page.html' %}

{% block content %}

<section>
	<div class="container">
		<table class="table table-bordered">
			<thead class="thead-dark">
				<tr>

					<th scope="col">username</th>
					<th scope="col">emailID</th>
					<th scope="col">Bank ac number</th>
					<th scope="col">address</th>
					<th scope="col">phone number</th>
				</tr>
			</thead>
			<tbody>
				<tr>

					<td>{{us.username}}</td>
					<td>{{us.email}}</td>
					<td>{{us.bank_ac}}</td>
					<td>{{us.address}}</td>
					<td>{{us.phone_number}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>
{% endblock %}